<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/template">
<head>
<meta charset="UTF-8" />
<title th:text="'Shipper'"></title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="row">
			<div class="col-12">
				<div class="card m-b-30">
					<div class="card-body">
						<div class="row">
							<div class="col-md-12 col-12">
								<h4 class="header-title" th:text="'Shipper'"></h4>
							</div>
						</div>
						<hr />
						<form class="form-horizontal">
							<div class="form-group row">
								<label class="col-sm-2 form-label" th:text="'ID'"></label>
								<div class="col-sm-10">
									<input required="required" class="form-control" readonly
										type="text" th:value="${userDTO.id}" id="id" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 form-label">Tên <span
									class="text-danger">*</span></label>
								<div class="col-sm-10">
									<input class="form-control" type="text" readonly
										th:placeholder="#{user.name}" th:value="${userDTO.name}" />
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-2 col-form-label" th:text="#{user.phone}"></label>
								<div class="col-sm-10">
									<input required="required" class="form-control" type="text"
										readonly th:placeholder="#{user.phone}"
										th:value="${userDTO.phone}" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" th:text="'Thành Phố'"></label>
								<div class="col-sm-10">
									<input class="form-control" type="text" readonly
										th:placeholder="#{user.address}"
										th:value="${userDTO.cityName}" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" th:text="'Quận Huyện'"></label>
								<div class="col-sm-10">
									<input class="form-control" type="text" readonly
										th:placeholder="#{user.address}"
										th:value="${userDTO.districtName}" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" th:text="'Phường Xã'"></label>
								<div class="col-sm-10">
									<input class="form-control" type="text" readonly
										th:placeholder="#{user.address}"
										th:value="${userDTO.wardsName}" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-2 col-form-label" th:text="'Địa chỉ'"></label>
								<div class="col-sm-10">
									<input class="form-control" type="text" readonly
										th:placeholder="#{user.address}"
										th:value="${userDTO.address}" />
								</div>
							</div>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}" />
						</form>
						<hr />
						<div class="row">
							<div class="col-6 col-sm-6">
								<h4 class="header-title">Cung Đường</h4>
							</div>
							<div class="col-6 col-sm-6">
								<a data-toggle="modal" href="" data-target="#add-road"
									data-type="GIAO" class="pull-right btn btn-primary"><i
									class="fa fa-plus"></i> Thêm mới</a>
							</div>
						</div>
						<hr />
						<div class="table-responsive">
							<table id="datatable" class="table table-bordered">
								<thead>
									<tr>
										<th></th>
										<th th:text="'id'"></th>
										<th th:text="' Thành Phố'"></th>
										<th th:text="#{text.option}"></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<td colspan="2"><button id="delButt"
												class="btn btn-danger">
												<i class="fa fa-trash"></i>Xóa tất
											</button></td>
										<th th:text="'Thành Phố'"></th>
										<th th:text="#{text.option}"></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="'Bạn muốn xóa cung đường này'"></div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.no}"></button>
						<a class="btn btn-danger btn-ok" style="color: white;"
							th:text="#{text.delete}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-delete-multi" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header" th:text="'Bạn muốn xoá các cung đường này'"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.no}"></button>
						<button class="btn btn-danger btn-ok" style="color: white;"
							th:text="#{text.delete}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="please-select-dialog" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">Vui lòng tích chọn các dòng để xoá?</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.cancel}"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="add-user-group" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">
							<span th:text="'Thêm mới'" th:remove="tag"></span>
						</h6>
					</div>
					<div class="modal-body">
						<form class="form-horizontal"
							onsubmit="submitForm();return false;">
							<div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Thành Phố'"></label>
								<div class="col-sm-9">
									<input required="required" class="form-control" type="text"
										th:placeholder="'Thành phố'" id="name" name="name" />
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button id="addButton" type="submit" style="width: 60%;"
											class="btn btn-primary waves-effect waves-light"
											th:text="#{text.add}"></button>
										<button type="button"
											class="btn btn-danger waves-effect waves-light"
											data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="confirm-export-exel" tabindex="-1"
			role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							th:text="#{text.no}"></button>
						<a class="btn btn-success btn-ok" style="color: white;"
							th:text="#{text.yes}"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="add-road" tabindex="-1" role="dialog"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h6 class="modal-title">Thêm mới</h6>
					</div>
					<div class="modal-body">
						<form class="form-horizontal"
							onsubmit="submitForm();return false;">

							<!-- <div class="form-group row">
								<label class="col-sm-3 form-label" th:text="'Thành Phố'"></label>
								<div class="col-sm-9">
									<select class="form-control" id="cityId" name="cityName">
									</select>
								</div>
							</div> -->
							<div class="form-group row">
								<label class="col-sm-12 form-label">Chọn các
									thành phố</label>
								<div class="col-sm-12">
									<select id='shippers' multiple='multiple'>
									</select>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-sm-3"></div>
								<div class="form-group col-sm-9">
									<div>
										<button id="addButton" type="submit" style="width: 60%;"
											class="btn btn-primary waves-effect waves-light"
											th:text="#{text.add}"></button>
										<button type="button"
											class="btn btn-danger waves-effect waves-light"
											data-dismiss="modal" th:text="#{text.cancel}"></button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:inline="javascript">
		var vietnameseUrl = [[@{/user/plugins/datatables/Vietnamese.json}]];
		var url = [[@{/api/shipper/road/search}]];
	    var delUrl = [[@{/api/shipper/road/delete}]];
	    var delMultiUrl = [[@{/api/shipper/road/delete-multi}]];
	    var csrf_token = [[${_csrf.token}]];
	    var searchHolderText = 'Tìm theo thành phố';
	    var searchDTO = {};
	    var localJson = [[@{/user/cityJson/local.json}]];
	    
	    var id = "";
	    var table;
		$(document).ready(function() {
			table = $('#datatable').DataTable( {
				"processing": true,
				"searching": false,
		        "serverSide": true,
		        "ajax": {
		        	type:"POST",
		            url: url,
		            dataType: "json",
		            contentType: "application/json",
		            headers: {'X-CSRF-TOKEN': csrf_token},
		            data: function ( d ) {
		            	d.userId = [[${userDTO.id}]];
		            	return JSON.stringify( d );
		            }
		        },
		        "columns": [
		            { "data": "id" },
		            { "data": "id" },
		            { "data": "cityName" },
		            
		            { "data": "id" }
		        ],
		        "order": [1, "desc"],
		        "select": {
		        	'style': 'multi'
		        },
		        "columnDefs": [
		        	{
					    'targets': 0,
					    'checkboxes': {
					       'selectRow': true
					    }
					 },
					 
	            {
	                "render": function ( data, type, row ) {
	                    var content =
	                    '<button class="btn btn-danger " data-toggle="modal" data-target="#confirm-delete" data-id=' + row.id + '><i class="fa fa-trash"></i></button>'
	                   
			            return content;
	                },
	                "orderable": false,
	                "targets": 3
	            },
	          
		        ],
		        "language": {
		            "url": vietnameseUrl,
		            searchPlaceholder: searchHolderText
		        },
		        "initComplete": function(settings, json) {
		        }
	        });
			
			$('#datatable tbody').on( 'click', 'button', function () {
				var data = table.row( $(this).parents('tr') ).data();
				id = data.id;
		    } );
			
			$('#confirm-delete').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $modalDiv.addClass('loading');
				  $.ajax({
				        url : delUrl + '/' + id,
				        type: 'DELETE',
				        dataType: "text",
			            contentType: "application/json",
				        success: function(data){
				        	$modalDiv.modal('hide');
				        	table.ajax.reload( null, false );
					    },
				        error: function(error){
				        }
				    })
				});
			
			//triggered when modal is about to be shown
			$('#confirm-delete').on('show.bs.modal', function(e) {
			    //get data-id attribute of the clicked element
			    var name = $(e.relatedTarget).data('id');
			    //populate the textbox
			    $(e.currentTarget).find('div.modal-body').html('<strong>' + name + '</strong>');
			});
			var rowIds = [];
			$('#delButt').on('click', function(e){
			    var rows_selected = table.column(0).checkboxes.selected();
			    rowIds = [];
			    // Iterate over all selected checkboxes
			    $.each(rows_selected, function(index, rowId){
			       // Create a hidden element
			       rowIds.push(rowId);
			    });
			    if (rows_selected.length == 0) {
			    	$("#please-select-dialog").modal('show');
			    } else {
			    	$("#confirm-delete-multi").modal('show');
			    }
		 	});
			$('#confirm-delete-multi').on('click', '.btn-ok', function(e) {
				  var $modalDiv = $(e.delegateTarget);
				  $.ajax({
				        url : delMultiUrl + '/' + rowIds.toString(),
				        type: 'DELETE',
				        dataType: "text",
			            contentType: "application/json",
			            headers: {'X-CSRF-TOKEN': csrf_token},
				        success: function(data){
				        	$modalDiv.modal('hide');
				        	table.ajax.reload( null, false );
					    }
				    })
			});
			

	    });
		
		
		var cities = [];
        $.getJSON( localJson, function(json) {
        	cities = json;
        	/* json.forEach(function(v){
       			$('#add-road #cityId, #update-road #city').append("<option value='" + v.name + "'>" + v.name + "</option>").attr('selected', true);
       		}); */
       		json.forEach(function(v){
	       		$('#add-road #shippers').append("<option value='" + v.name + "'>" + v.name + "</option>");
	       	})
	       	
	       	$('#add-road #shippers').multiSelect({keepOrder:true,
            	selectableHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='Tìm kiếm...'>",
            	selectionHeader: "<input type='text' class='search-input form-control' autocomplete='off' placeholder='Tìm kiếm...'>",
            	  afterInit: function(ms){
            	    var that = this,
            	        $selectableSearch = that.$selectableUl.prev(),
            	        $selectionSearch = that.$selectionUl.prev(),
            	        selectableSearchString = '#'+that.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)',
            	        selectionSearchString = '#'+that.$container.attr('id')+' .ms-elem-selection.ms-selected';

            	    that.qs1 = $selectableSearch.quicksearch(selectableSearchString)
            	    .on('keydown', function(e){
            	      if (e.which === 40){
            	        that.$selectableUl.focus();
            	        return false;
            	      }
            	    });

            	    that.qs2 = $selectionSearch.quicksearch(selectionSearchString)
            	    .on('keydown', function(e){
            	      if (e.which == 40){
            	        that.$selectionUl.focus();
            	        return false;
            	      }
            	    });
            	  },
            	  afterSelect: function(){
            	    this.qs1.cache();
            	    this.qs2.cache();
            	  },
            	  afterDeselect: function(){
            	    this.qs1.cache();
            	    this.qs2.cache();
            	  }
            });
	        $('#add-road #shippers').multiSelect();
			$("#add-road #shippers").multiSelect("refresh");
        	
       	}) ;
        
        var addURL = [[@{/api/shipper/road/add}]];
        function submitForm() {
			var data = {};
			/* $("#add-road form").serializeArray().map(function(x) {
				data[x.name] = x.value;
				cities.push(x.value);
			}); */
			data.cities = $("#add-road #shippers option[selected]").map(function(i, el) {
			    return $(el).val();
			}).get();
			data.userId = $('#id').val();	
			$.ajax({
		        url : addURL,
		        type: 'POST',
		        dataType: "json",
	            contentType: "application/json",
	            headers: {'X-CSRF-TOKEN': csrf_token},
		        data: JSON.stringify(data),
		        success: function(){
		        	$("#add-road form")[0].reset();
		        	$('#add-road').modal('hide');
		        	
			    	table.draw();
		        	
			    },
		        error: function(){
		        	alert("Loi xay ra");
		        }
		    });
			return false;
		}
        
      //load data dropdown shipper
	    $.ajax({
	       
	    	
		    
	    })
		
	</script>
	</div>
</body>
</html>